.page-login {
  .pack-card {
      .pack-icon {
          svg {
              height: 80px;
              width: 60px;
          }
      }
      .pack-title {
          font-size: 1.5rem;
          font-weight: normal;
      }
      .pack-description {
          font-size: 1rem;
      }
  }
}