.section {
  &.main-section {
    .container {
      position: relative;
      z-index: 1;
    }
    @include media-breakpoint-up('lg') {
      padding-top: 74px;
      padding-bottom: 100px;
    }
    @include media-breakpoint-down('md') {
      padding: 60px 0;
    }
    background-color: #efefefe0;
    position: relative;
    .campaign-content {
      max-width: 930px;
      margin: 0 auto;
      margin-bottom: 92px;
    }
    .price-packs {
      margin-bottom: 30px;
      @include media-breakpoint-down('md') {
        justify-content: center;
      }
    }
  }
}