$container-gutter-width: 22px;

$fonts: (
  'PantonLight':                 ( family: 'Panton',       file: 'Panton-Light',                   weight: 300, style: normal ),
  'PantonRegular':               ( family: 'Panton',       file: 'Panton-Regular',                 weight: 400, style: normal ),
  'PantonSemiBold':              ( family: 'Panton',       file: 'Panton-SemiBold',                weight: 600, style: normal ),
  'PantonBold':                  ( family: 'Panton',       file: 'Panton-Bold',                    weight: 700, style: normal ),
  'PantonExtraBold':             ( family: 'Panton',       file: 'Panton-ExtraBold',               weight: 800, style: normal ),
  'PantonBlack':                 ( family: 'Panton',       file: 'Panton-Black',                   weight: 900, style: normal ),
);

$font-weights: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'semibold': $font-weight-semibold,
  'bold': $font-weight-bold,
  'extrabold': $font-weight-extrabold,
  'black': $font-weight-black
);

$headings: (
  'h1': ('font-size': $h1-font-size, 'letter-spacing': 0, 'line-height': 1.14),
  'h2': ('font-size': $h2-font-size, 'letter-spacing': -0.7px),
  'h3': ('font-size': $h3-font-size, 'letter-spacing': -0.58px, 'line-height': 1.08),
  'h4': ('font-size': $h4-font-size, 'letter-spacing': -0.5px, 'line-height': 1.5),
  'h5': ('font-size': $h5-font-size, 'letter-spacing': 0, 'line-height': 35px),
  'h6': ('font-size': $h6-font-size, 'letter-spacing': 0, 'line-height': 1.7)
);

$font-sizes: (
  'lg': ('font-size': $font-size-lg),
  'md': ('font-size': $font-size-base * 1.125),
  'base': ('font-size': $font-size-base),
  'sm': ('font-size': $font-size-sm),
  'xs': ('font-size': $font-size-xs),
  'ty': ('font-size': $font-size-ty, 'letter-spacing': 1.1)
);